[language-server.gpt]
command = "helix-gpt"

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]
auto-format = true
file-types = ["rs"]

[language-server.rust-analyzer]
command = "rust-analyzer"

[[language]]
name = "python"
language-servers = ["pylsp", "ruff"]
auto-format = true
formatter = { command = "bash", args = ["-c", "ruff check --fix --select I - | ruff format -"] }

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "yaml"] }
file-types = ["yaml", "yml"]
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = [{ name = "yaml-language-server" }]

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.basedpyright]
command = "basedpyright-langserver"
args = ["--stdio"]

[language-server.pylsp]
command = "uv"
args = ["run", "pylsp"]


[language-server.basedpyright.config]
python.analysis.typeCheckingMode = "off"
lint = false
inlayHint.enable = false

[language-server.pylsp.config.pylsp]
plugins.jedi_hover.enabled = true
plugins.pycodestyle.enabled = false
plugins.pyflakes.enabled = false
plugins.pylsp_mypy.enabled = false
plugins.pylsp_mypy.live_mode = false
plugins.ruff.enabled = false
plugins.rope.enabled = true

[language-server.pylsp.config.pylsp.plugins.jedi_completion]
enabled = true
extra_paths = ["src"]
prioritze_extra_paths = true
include_class_objects = true
eager = false


[[language]]
name = "bash"
file-types = ["sh", "bash", "zsh", { glob = "dot_zshrc" }]
